@import url("base.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 641px) {
  :root {
    font-size: 0.85rem;
  }

  body {
    padding: 2rem 2rem 4rem 2rem;
  }
}

body {
  background-color: black;
  color: #d9d9d9;
  padding-top: 1rem;
  /* touch-action: none; */
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  &:not(:first-child) {
    padding-top: 0.6rem;
  }
}

header {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
}

footer {
  margin: 1.5rem 0;
  padding-bottom: 2rem;
  color: #008800;

  & p {
    text-align: center;
    margin: 0 auto;
  }
}

pre {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  max-width: 100%;
}

section,
dialog {
  color: inherit;
  background-color: #102040;
  padding: 0;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

section>div {
  padding: 1rem;
  border-radius: inherit;
}

dialog,
.panel {

  &:not(dialog),
  &:modal {
    display: flex;
  }

  resize: both;
  flex-direction: column;
  align-items: stretch;
  margin: 3rem auto;
  border: outset #192949;
  box-shadow: 0.25rem 0.25rem 0.5rem #00000044;

  & header,
  footer {
    padding: 1rem;
    margin: 0;
    color: #eeeeee;
    flex-grow: 0;
  }

  & button {
    padding: 0.4rem 1rem;
  }

  & section {
    flex-grow: 1;
    margin-top: 0;
    display: flex;
    flex-direction: column;

    & div {
      flex-grow: 1;
    }
  }
}

::backdrop {
  backdrop-filter: blur(0.4rem) grayscale(100%) brightness(60%);
  -webkit-backdrop-filter: blur(0.4rem) grayscale(100%) brightness(60%);
}

.content {
  /* background-color: #282c34; */
  background-color: #1e1e1e;

  & label {
    display: flex;
    flex-direction: row;
    align-items: center;

    & input[type=text] {
      flex-grow: 1;
    }
  }
}

menu.toolbar {
  padding: 1rem;

  & li {
    list-style-type: none;
    display: inline;

    &:not(:first-child) {
      margin-left: 0.5rem;
    }
  }
}

button {
  border-style: outset;
  /* font-size: 1rem; */
  padding: 0.25rem 0.5rem;
  background-color: #bbbbbb;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:active:not(:disabled) {
    border: 2px inset;
  }
}

label:not(:disabled) {
  cursor: pointer;
}

input[type=checkbox] {
  margin-right: 0.3rem;
}

input[type=text] {
  padding: 0.3rem;
  background-color: #004b56;
  border: inset 1px #687c84;
  margin-left: 0.5rem;
  color: #eeeeee;
}

input:focus {
  border: inset 1px #5190a9;
  outline: none;
  background-color: #016575;
  color: #ffffff;
}

pre,
.code,
.jsondiffpatch-delta {
  font-family: "JetBrains Mono", monospace !important;
  font-size: 0.9rem !important;
  min-width: 40%;
}

.jsondiffpatch-deleted,
.jsondiffpatch-deleted *,
.jsondiffpatch-modified .jsondiffpatch-left-value * {
  background-color: #660000 !important;
  text-decoration: none !important;
}

.jsondiffpatch-added,
.jsondiffpatch-added *,
.jsondiffpatch-modified .jsondiffpatch-right-value * {
  background-color: #005500 !important;
}